.applications{
  font-weight: 700;
  font-family: 'Baloo Paaji 2';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;

}
.appTitle, .appBody {
  border: 5px solid darkgray;
  border-radius:  20px;
}
.appTitle {
  width: 500px;
  font-size: 24px;
  padding: 6px;
  justify-content: center;
  background-color: white;
  position: relative;
  top: -470px;
}

.appBody{
  display: grid;
  flex-grow: 2;
  min-width: 550px;
  width: 80%;
  height: 450px;
  margin: 20px 5px 1px 1px;
  padding: 30px 10px 10px 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 30px;
}

.appImage{
  grid-column: 1;
  grid-row: 1 2;
  margin: -27px 0px 0px 0px;
  text-align: left;
}
.appText{
  grid-column: 2;
  grid-row: 1;
  margin: 5px 0px 0px 35px;
  text-align: left;
}

.appText ul{
  list-style: circle outside;
}

.appText li{
  margin: .75em 0em;
}

.appText .innerList li{
  margin: 0em;
}

