.applications{
  font-weight: 525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;

}
.appTitle, .appBody {
  border: 5px solid darkgray;
  border-radius:  20px;
}
.appTitle {
  width: 500px;
  padding: 10px;
  justify-content: center;
  background-color: white;
  position: relative;
  top: -270px;
}

.appBody{
  flex-grow: 2;
  min-width: 550px;
  width: 80%;
  height: 250px;
  margin: 20px 5px 1px 1px;
  padding: 30px 10px 10px 10px;
}